*.o
IA/2014/Entrega2/build-software-Desktop_Qt_5_3_MSVC2013_64bit-Debug/Makefile
IA/2014/Entrega2/build-software-Desktop_Qt_5_3_MSVC2013_64bit-Debug/Makefile.Debug
IA/2014/Entrega2/build-software-Desktop_Qt_5_3_MSVC2013_64bit-Debug/Makefile.Release